# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
*.tfvars.local
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Providers compiled binaries or caches
.terraformrc
terraform.rc

#Ignore .vscode/
.vscode/
workworkspace.code-workspace
